name: Socket CLI

on:
  workflow_call:
    secrets:
      SOCKET_SECURITY_API_KEY:
        required: true

jobs:
  socket-scan:
    runs-on: ubuntu-latest
    container: socketdev/cli:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Socket CLI Scan
        env:
          SOCKET_SECURITY_API_KEY: ${{ secrets.SOCKET_SECURITY_API_KEY }}
          GH_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PR_NUMBER=${{ github.event.pull_request.number }}

          socketcli \
            --target-path $GITHUB_WORKSPACE \
            --scm github \
            --pr-number $PR_NUMBER
            --reach